body {
    background-color: rgb(249,251,253);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 100%;
    margin: auto;
    width: 60%;
    margin-top: 50px;
    padding: 15px;
}

header {
    font-size: 30px;
    text-align: center;
    padding-bottom: 40px;
    color: darkslategray;
    font-weight: bold;
}

.main {
    max-width: 100%;
    background-color: white;
    padding: 30px;
    border: 2px solid;
    border-radius: 5px;
    border-color: rgb(231,233,235);
}

p {
    font-size: 25px;
    padding: 15px 0 10px;
    margin: 0;
    color:darkslategray;
    font-weight: bold;
}

.line {
    display: block; height: 1px;
    border: 0; border-top: 2px solid lightgray;
    margin-top: 5px;
}

.section1 {
    padding-right: 10px;
}

textarea {
    border-width: 3px;
}

#password {
    border-style: dashed;
    border-radius: 10px;
    border-color:lightgray;
    resize: none;
    width: 100%;
    height: 150px;
}

textarea[placeholder] {
    text-align: center;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 40px;
}

.button {
    max-width: 100%;
    padding: 0px 20px 0px 20px;
    margin-bottom: 25px;
}

.button1,
.button2 {
    max-width: 100%;
    height: 44px;
    width: 230px;
    border-radius: 25px;
    color: white;
    font-size: 18px;
}

.button1 {
    background-color: firebrick;
}

.button2 {
    background-color: rgb(192,199,207);
    float: right;
}